# Build
**/bin/
**/obj/

# Cache
*.cache

# Visual Studio
.vs/

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# User files
*.user
*.suo

# Logs
*.log

# OS
.DS_Store
Thumbs.db